* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    background-image: url(../images/TimeShutter.jpg);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

li {

    list-style: none;
    display: inline-block
}

a {

    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
    margin-left: 5%;
}

.btn:hover {

    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}
.submit {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
    margin-left: 5%;
}

.table, tr {
   
   border-collapse: collapse;
    width: 100%;
    padding: 15px;
    text-align: left;
}

.table#manualAttendence{
	border-collapse: collapse;
    width: 100%;
    padding: 15px;
    text-align: left;
}

/* NAVIGATION */


.navbar {
    
    background-color: #222222 !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
}

.navbar a {
    
    color: #fff !important;
    opacity: 0.7;
}


.navbar a:hover {
    
    opacity: 1;
    background-color: #111111 !important;
}  

.login{
	margin:35% 0 0 70%;
	
	
	
}

.login .input-group{
	width:800px;
	margin:5%;
}


.modal-dialog {
	width: 43%;
}

.modal-dialog input{
	 
    height: 43px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    
    resize: none;
}
.modal-dialog#modalSizing {
	width: 80%;
}

.input-group input{
	width: 50%;
}

.table#manualAttendence{
	width: 50%;
}